<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
</head>
<body>
<div th:if="${message}"
     th:text="${message}"></div>
Aby zmienić hasło podaj swój email oraz nowe hasło:
<form action="/change" method="post">
<input type="email" placeholder="email" name="email">
<input type="password" placeholder="password" name="password">
<input type="submit" value="Zmień">
</form>
<a href="/">Powrót</a>
</body>
</html>